In [10]:
import torch
from torch import nn
from torch.nn import init
import numpy as np
import pandas as pd
import sys
sys.path.append('../../')
import ML as ml
import glob, os

In [11]:
df = pd.read_csv('testset.csv', sep=',')
df.status[df['status']==-1]=0

/home/kong123/anaconda3/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
all_features = df.iloc[:,:-1]
all_features

          u     e   a_p       inc
0      0.11  0.98  4.16  0.698132
1      0.03  0.67  2.81  0.523599
2      0.48  0.92  2.21  1.396263
3      0.33  0.43  3.77  2.268928
4      0.47  0.26  5.51  2.268928
...     ...   ...   ...       ...
99995  0.19  0.06  5.38  0.349066
99996  0.38  0.76  5.81  0.698132
99997  0.43  0.74  5.25  0.174533
99998  0.13  0.25  4.62  2.094395
99999  0.33  0.74  4.39  0.698132

[100000 rows x 4 columns]

In [13]:
s =set(all_features['inc'])
inc = list(s)
inc.sort()
for i in range(len(inc)):
    all_features.inc[all_features['inc']==inc[i]]='%d'%i

In [14]:
numeric_features = all_features.dtypes[all_features.dtypes != 'object'].index
all_features[numeric_features] = all_features[numeric_features].apply(
    lambda x: (x - x.mean()) / (x.std()))
# 标准化后，每个特征的均值变为0，所以可以直接用0来替换缺失值
all_features[numeric_features] = all_features[numeric_features].fillna(0)
#set(all_features['inc'])

In [15]:
all_features = pd.get_dummies(all_features, dummy_na=False)
all_features

,u,e,a_p,inc_0,inc_1,inc_10,inc_11,inc_12,inc_13,inc_14,...,inc_17,inc_18,inc_2,inc_3,inc_4,inc_5,inc_6,inc_7,inc_8,inc_9
0,-1.004867,1.668403,0.312706,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,-1.558987,0.597578,-0.727209,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,1.557939,1.461146,-1.189394,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0.518963,-0.231448,0.012286,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1.488674,-0.818675,1.352621,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,-0.450747,-1.509530,1.252481,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
99996,0.865288,0.908462,1.583713,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
99997,1.211613,0.839377,1.152341,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99998,-0.866337,-0.853217,0.667047,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
99999,0.518963,0.839377,0.489876,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [16]:
test_features = torch.tensor(all_features.values, dtype=torch.float)
test_labels = torch.tensor(df.status.values, dtype=torch.long)
batch_size = 512
testset = torch.utils.data.TensorDataset(test_features, test_labels)
test_iter = torch.utils.data.DataLoader(testset, batch_size, shuffle=True)

In [17]:
PATH = "./net.pt"
model = torch.load(PATH)

In [18]:
test_acc = ml.eva_acc(test_iter, model)
test_acc

0.98184